api_key.json
.flickr
oauth-tokens.sqlite
.vscode
__pycache__
.python-version
*original*.txt
albums.json
*.xml
.DS_Store
prompts
*.egg-info
dist/
build/
upload_params/*.env
!upload_params/__template.env
